@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(221, 100%, 96%);
    display: flex;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Fraunces', serif;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100vh;

}
main{
    height: 400px;
    width: 500px;
    display: flex;
    margin: auto;
    

}
.card {
    display: flex;
}

.result {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,  hsla(256, 72%, 46%, 1), 80%,  hsla(241, 72%, 46%, 1));
    
    
}

.score {
    color: rgba(255, 255, 255, 0.76);
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.number {
    border-radius: 50%;
    background-image: linear-gradient(0deg,hsla(256, 72%, 46%, 1)60%,  hsla(241, 72%, 46%, 1));
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
}
.number h1 {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translate(30%,0);
    font-size: 60px;
    color: white;
}

.number p {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translate(-80%,25%);
    color: rgba(255, 255, 255, 0.582);
    font-weight: 0;
}
.great {

    margin: 30px 12px;
}
.great h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.877);
    margin-bottom: 20px;
    
}
.great p {
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
    font-size: 14px;
    margin: 10px 0 ;
}

.result2 {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px hsla(252, 100%, 67%, 0.048);
}
.sumary {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    
}
.reaction {
    background-color: hwb(0 34% 0% / 0.1);
    border-radius: 5%;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 20px;
}
.reaction2 {
    display: flex;
}
.reaction2 p{
    color: hsl(0, 100%, 67%);
    font-size: 14px;
    font-weight: 700;
}
.reaction2 img {
    width: 15px;
    margin-right: 5px;
}
.pontuacao {
    display: flex;

}
.ponto {
    font-size: 14px;
    color: black;
    font-weight: 900;
    font-family: 'Hanken Grotesk', sans-serif;
}
.total {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.507);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    border-radius: 5%;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 20px;
}
.memory2 {
    display: flex;
}
.memory2 p {
    font-size: 14px;
    font-weight: 900;
    color: hsl(39, 100%, 56%) ;
}
.memory2 img {
    width: 15px;
    margin-right: 5px;
}
.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
    border-radius: 5%;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 20px;
}
.verbal2 {
    display: flex;
}
.verbal2 p {
    font-size: 14px;
    font-weight: 900;
    color: hsl(166, 100%, 37%) ;
}
.verbal2 img{
    width: 15px;
    margin-right: 5px;
} 

.visual {
    background-color: hsl(234, 85%, 45%, 0.1);
    border-radius: 5%;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 20px;
}
.visual2 {
    display: flex;
}
.visual2 p {
    font-size: 14px;
    font-weight: 900;
    color: hsl(234, 85%, 45%) ;
}
.visual2 img{
    width: 15px;
    margin-right: 5px;
} 
.continue {
    display: flex;
    align-items: center;
    justify-content: center;
}
.continue button {
    width: 90%;
    border-radius: 28px;
    border: none;
    background-image: linear-gradient(0deg,hsla(256, 72%, 46%, 1)60%,  hsla(241, 72%, 46%, 1));
    padding: 15px 32px;
    display: inline-block;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}
.continue button:hover {
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .card {
        flex-direction: column;
    }
    body {
        margin: 0;
        height: 100%;
    }
}